# Escludi le cartelle di build e debug
bin/
obj/
Debug/
Release/

# Escludi i file di log
*.log

# Escludi i file temporanei
*.tmp
*.cache

# Escludi i file specifici di Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Escludi i pacchetti NuGet
*.nupkg
packages/

# Escludi i file generati automaticamente da Visual Studio
.vscode/
.idea/
