.news-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #292929;
  color: #b1bfbf;
}
.news-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.news-image {
  height: 180px;
  object-fit: cover;
}
